/genomas_baixados
/ncbi-blast-2.16.0+
/files-archive
/index.html
/Pfam-A.fasta.gz
/Pfam-A.hmm.gz
/Pfam-A.seed.gz
/prism-4-paper
/teste1_regpatternsearch_antismash
/extracted_fna
/prokka_output
/download_extraction
/ncbi_dataset.zip
/teste1_regpatternsearch_antismash.zip