/genomas_baixados
/ncbi-blast-2.16.0+
/files-archive
/index.html
/Pfam-A.fasta.gz
/Pfam-A.hmm.gz
/Pfam-A.seed.gz
/prism-4-paper
/teste1_regpatternsearch_antismash
/extracted_fna
/prokka_output
/download_extraction
/ncbi_dataset.zip
/ncbi_dataset
/md5sum.txt
/inputAS_dataset.zip
/extracted_gbff
/16S_resultados/
aligned_sequences.fasta
all_sequences.fasta
log.txt
aligned_sequences.phy
aligned_sequences.phy_phyml_boot_stats.txt
aligned_sequences.phy_phyml_boot_trees.txt
aligned_sequences.phy_phyml_stats.txt
aligned_sequences.phy_phyml_tree.txt
testePHYML.ipynb
